/* desktop: 1200px;
laptop: 1024px;
tablet: 768px;
phone: 414px; */

/* colors:
#FCBC55
#FCA655
#FA8449
#FD7358
#FD5C53 */

html {
    box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    /* flex-flow: column wrap; */
    justify-content: center;
    width: 100%;
    --body-bg: #FCA655;
    --header-bg: #FD5C53;
    --header-text-color: #FCBC55;
    --btn-bg-color: #FA8449;
    --btn-text-color: #FCBC55;
    --card-text-color: #3e3e3e;
    --card-bg-color: #FD5C53;
    text-align: center;
    background-color: var(--body-bg);
    --div-bg: #FCBC55;
}

    h1{
        background-color: var(--header-bg);
        color: white;
        width: 100%;
        min-height: 50px;
        font-size: 3rem;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    

    #roulette{
        width: 375px;
        min-height: 375px;
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
        font-size: 2rem;
        background-color: var(--div-bg);
        border-radius: 50%;
        align-self: center;
        justify-content: space-evenly;
        margin: 30px auto;
        align-content: center;
        border: solid white;
    }

    .carousel{
        background-color: white;
        height: 7rem;
        width: 7rem;
        transform: translate(0, -25%);
        border-radius: 50%;
    }

    #cat1{
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
    }

    #cat2{
        grid-row: 2 / 4;
        grid-column: 5 / 6;
        justify-self: center;
        align-self: center;
    }

    #cat3{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        justify-self: center;
        align-self: center;
    }

    #cat4{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #cat5{
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    #randomizer{
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        justify-self: center;
        align-self: center;
        grid-row: 2 / 4;
        grid-column: 3 / 4;
    }

    #newDiv{
        width: 75%;
        height: 15rem;
        justify-self: center;
        align-self: center;
        margin: auto;
        background-color: var(--header-bg);
        border-radius: 5px;
    }

    #newDiv>p{
        font-size: 2rem;
        color: white;
    }

    #newDiv>#containerDiv>div>#randomapi>img{
        width: 15rem;
        height: 10rem;
        justify-self: center;
        align-self: center;
        margin: auto;
        border-radius: 5px;
    }

    #advise{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        width: 75%;
        background-color: var(--div-bg);
        margin: 30px 0 30px 0;
        border-radius: 5px;
        border: solid white;
    }
  
    #adviseHeader{
        margin: 15px 0 15px 0;
        color: white;
    }

    #adviceButton{
        margin: 15px 0 15px 0;
        width: 75px;
        height: 50px;
        border: none;
        border-radius: 3px;
        align-self: center;
    }

    .card{
        width: 200px;
        height: 150px;
        margin: auto;
        align-self: center;
        margin-bottom: 20px;
        background-color: var(--body-bg);
    }










    
@media only screen and (min-width: 1024px){
    html {
         box-sizing: border-box
    }

    /* The Universal Selector */
    *, /* All elements*/
    *::before, /* All ::before pseudo-elements */
    *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
        but can be over-ridden as needed */
    box-sizing: inherit;
    }

    /* resets font size to be 62.5% of the user preference - 
    in most browser configurations this will be 10px */
    :root {
    font-size: 62.5%;
    }

    body {
    /* Use a system font, if none are available use an available sans-sarif   font */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        margin: 0;
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(5, 1fr);
        /* flex-flow: column wrap; */
        justify-content: center;
        width: 100%;
        height: 100vh;
        --body-bg: #FCA655;
        --header-bg: #FD5C53;
        --header-text-color: #FCBC55;
        --btn-bg-color: #FA8449;
        --btn-text-color: #FCBC55;
        --card-text-color: #3e3e3e;
        --card-bg-color: #FD5C53;
        text-align: center;
        background-color: var(--body-bg);
        --div-bg: #FCBC55;
    }

        h1{
            background-color: var(--header-bg);
            color: black;
            height: 20px;
            width: 100%;
            font-size: 3rem;
            padding: 10px;
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            justify-self: flex-start;
            align-self: flex-start;
            margin-bottom: 3rem;
        }

        #roulette{
            width: 375px;
            height: 375px;
            display: grid;
            grid-template: repeat(4, 1fr) / repeat(5, 1fr);
            font-size: 2rem;
            background-color: var(--div-bg);
            border-radius: 50%;
            margin: 30px auto;
            align-content: center;
            border: solid #FA8449;
            grid-column: 2 / 3;
            grid-row: 2 / 5;
            justify-self: center;
            align-self: flex-start;
            transform: translate(0, -20%);
        }

        .carousel{
            background-color: white;
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
        }

        #cat1{
            grid-column: 3 / 4;
            justify-self: center;
            transform: translate(0, -20%);
        }

        #cat2{
            grid-row: 2 / 3;
            grid-column: 5 / 6;
            transform: translate(-75%, 30%);
        }

        #cat3{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            transform: translate(75%, 30%);
        }

        #cat4{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            transform: translate(25%, -45%);
        }

        #cat5{
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            transform: translate(-25%, -45%);
        }

        #randomizer{
            height: 5.5rem;
            width: 5.5rem;
            border-radius: 50%;
            justify-self: center;
            align-self: center;
            grid-row: 2 / 4;
            grid-column: 3 / 4;
        }

        #newDiv{
            width: 75%;
            height: 15rem;
            margin: auto;
            background-color: var(--header-bg);
            border-radius: 5px;
            grid-column: 2 / 3;
            grid-row: 5 / 6;
            justify-self: center;
            align-self: flex-start;
            transform: translate(0, -45%);
            border: solid #FA8449;
        }

        #newDiv>p{
            font-size: 2rem;
            color: black;
        }

        #newDiv>#containerDiv>div>#randomapi>img{
            width: 15rem;
            height: 10rem;
            justify-self: center;
            align-self: center;
            margin: auto;
            border-radius: 5px;
            border: solid #FA8449;
        }

        #advise{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 75%;
            background-color: var(--div-bg);
            margin: 30px 0 30px 0;
            border-radius: 5px;
            border: solid #FA8449;
            grid-column: 3 / 5;
            grid-row: 2 / 5;
            justify-self: center;
            align-self: center;
            transform: translate(15%, -30%);
        }
    
        #adviseHeader{
            margin: 15px 0 15px 0;
            color: black;
        }

        #adviceButton{
            margin: 15px 0 15px 0;
            width: 75px;
            height: 50px;
            border: none;
            border-radius: 3px;
            align-self: center;
        }

        .card{
            width: 200px;
            height: 150px;
            margin: auto;
            align-self: center;
            margin-bottom: 20px;
            background-color: var(--body-bg);
            border: solid #FA8449;
        }
}